node_modules
@lib
dist/
packages/*/src/types.ts
packages/*/bundle.js
packages/*/bundle.*.js
test/*.js
LICENSE
tsconfig.json
tsconfig.es6.json
rollup.config.js
package.json
package-lock.json
*.tsbuildinfo
*.map
*.lock
*.log.*
*.log
*.tgz
